# Initial clean-up of world data set


Dataset from: https://www.kaggle.com/datasets/nelgiriyewithana/countries-of-the-world-2023, Author: NIDULA ELGIRIYEWITHANA, accessed 11/7/2023

In [1]:
# Dependencies
from pathlib import Path
import pandas as pd
import numpy as np

In [2]:
# Path variable
world_data_2023 = Path('world-data-2023.csv')

In [3]:
# Read the CSV in pandas
world_data_2023 = pd.read_csv(world_data_2023)

In [4]:
#Reorder columns for ease of analysis, and remove columns that are not relevant: Armed Forces, Abbreviation, 
#Calling Code, Currency, #Offical Language, Physicians per thousand, Minimum wage

organised_world_data = pd.DataFrame(world_data_2023[["Country","Capital/Major City","Density(P/Km2)","Population","Urban_population",\
                                        "Land Area(Km2)", "Agricultural Land( %)","Forested Area (%)","Co2-Emissions","GDP",\
                                        "Life expectancy","Birth Rate","Maternal mortality ratio","Infant mortality",\
                                        "Latitude","Longitude"]])

In [5]:
organised_world_data.head()

,Country,Capital/Major City,Density(P/Km2),Population,Urban_population,Land Area(Km2),Agricultural Land( %),Forested Area (%),Co2-Emissions,GDP,Life expectancy,Birth Rate,Maternal mortality ratio,Infant mortality,Latitude,Longitude
0,Afghanistan,Kabul,60,"38,041,754","9,797,273","652,230",58.10%,2.10%,"8,672","$19,101,353,833",64.5,32.49,638.0,47.9,33.939110,67.709953
1,Albania,Tirana,105,"2,854,191","1,747,593","28,748",43.10%,28.10%,"4,536","$15,278,077,447",78.5,11.78,15.0,7.8,41.153332,20.168331
2,Algeria,Algiers,18,"43,053,054","31,510,100","2,381,741",17.40%,0.80%,"150,006","$169,988,236,398",76.7,24.28,112.0,20.1,28.033886,1.659626
3,Andorra,Andorra la Vella,164,"77,142","67,873",468,40.00%,34.00%,469,"$3,154,057,987",NaN,7.20,NaN,2.7,42.506285,1.521801
4,Angola,Luanda,26,"31,825,295","21,061,025","1,246,700",47.50%,46.30%,"34,693","$94,635,415,870",60.8,40.73,241.0,51.6,-11.202692,17.873887

In [6]:
# Check row counts and type for each
organised_world_data['Forested Area (%)']=organised_world_data['Forested Area (%)'].str.replace("%","")
organised_world_data["Agricultural Land( %)"]=organised_world_data["Agricultural Land( %)"].str.replace("%","")
organised_world_data["GDP"]=organised_world_data["GDP"].str.replace("$","",regex=True)
organised_world_data.head()

,Country,Capital/Major City,Density(P/Km2),Population,Urban_population,Land Area(Km2),Agricultural Land( %),Forested Area (%),Co2-Emissions,GDP,Life expectancy,Birth Rate,Maternal mortality ratio,Infant mortality,Latitude,Longitude
0,Afghanistan,Kabul,60,"38,041,754","9,797,273","652,230",58.10,2.10,"8,672","19,101,353,833",64.5,32.49,638.0,47.9,33.939110,67.709953
1,Albania,Tirana,105,"2,854,191","1,747,593","28,748",43.10,28.10,"4,536","15,278,077,447",78.5,11.78,15.0,7.8,41.153332,20.168331
2,Algeria,Algiers,18,"43,053,054","31,510,100","2,381,741",17.40,0.80,"150,006","169,988,236,398",76.7,24.28,112.0,20.1,28.033886,1.659626
3,Andorra,Andorra la Vella,164,"77,142","67,873",468,40.00,34.00,469,"3,154,057,987",NaN,7.20,NaN,2.7,42.506285,1.521801
4,Angola,Luanda,26,"31,825,295","21,061,025","1,246,700",47.50,46.30,"34,693","94,635,415,870",60.8,40.73,241.0,51.6,-11.202692,17.873887

In [7]:
#Drop those rows with incomplete data

organised_world_data = organised_world_data.dropna(how='any')
organised_world_data.set_index(["Country"])
organised_world_data.head()

,Country,Capital/Major City,Density(P/Km2),Population,Urban_population,Land Area(Km2),Agricultural Land( %),Forested Area (%),Co2-Emissions,GDP,Life expectancy,Birth Rate,Maternal mortality ratio,Infant mortality,Latitude,Longitude
0,Afghanistan,Kabul,60,"38,041,754","9,797,273","652,230",58.10,2.10,"8,672","19,101,353,833",64.5,32.49,638.0,47.9,33.939110,67.709953
1,Albania,Tirana,105,"2,854,191","1,747,593","28,748",43.10,28.10,"4,536","15,278,077,447",78.5,11.78,15.0,7.8,41.153332,20.168331
2,Algeria,Algiers,18,"43,053,054","31,510,100","2,381,741",17.40,0.80,"150,006","169,988,236,398",76.7,24.28,112.0,20.1,28.033886,1.659626
4,Angola,Luanda,26,"31,825,295","21,061,025","1,246,700",47.50,46.30,"34,693","94,635,415,870",60.8,40.73,241.0,51.6,-11.202692,17.873887
5,Antigua and Barbuda,"St. John's, Saint John",223,"97,118","23,800",443,20.50,22.30,557,"1,727,759,259",76.9,15.33,42.0,5.0,17.060816,-61.796428

In [ ]:
organised_world_data['GDP']=organised_world_data['GDP'].str.replace(",","").astype("int64")
organised_world_data['Population']=organised_world_data['Population'].str.replace(",","").astype("int64")
organised_world_data['Urban_population']=organised_world_data['Urban_population'].str.replace(",","").astype("int64")
organised_world_data['Land Area(Km2)']=organised_world_data['Land Area(Km2)'].str.replace(",","").astype("int64")
organised_world_data['Co2-Emissions']=organised_world_data['Co2-Emissions'].str.replace(",","").astype("int64")
organised_world_data['Agricultural Land( %)']=organised_world_data['Agricultural Land( %)'].astype("float")
organised_world_data['Forested Area (%)']=organised_world_data['Forested Area (%)'].astype("float")

In [8]:
organised_world_data.head()

,Country,Capital/Major City,Density(P/Km2),Population,Urban_population,Land Area(Km2),Agricultural Land( %),Forested Area (%),Co2-Emissions,GDP,Life expectancy,Birth Rate,Maternal mortality ratio,Infant mortality,Latitude,Longitude
0,Afghanistan,Kabul,60,"38,041,754","9,797,273","652,230",58.10,2.10,"8,672","19,101,353,833",64.5,32.49,638.0,47.9,33.939110,67.709953
1,Albania,Tirana,105,"2,854,191","1,747,593","28,748",43.10,28.10,"4,536","15,278,077,447",78.5,11.78,15.0,7.8,41.153332,20.168331
2,Algeria,Algiers,18,"43,053,054","31,510,100","2,381,741",17.40,0.80,"150,006","169,988,236,398",76.7,24.28,112.0,20.1,28.033886,1.659626
4,Angola,Luanda,26,"31,825,295","21,061,025","1,246,700",47.50,46.30,"34,693","94,635,415,870",60.8,40.73,241.0,51.6,-11.202692,17.873887
5,Antigua and Barbuda,"St. John's, Saint John",223,"97,118","23,800",443,20.50,22.30,557,"1,727,759,259",76.9,15.33,42.0,5.0,17.060816,-61.796428

In [9]:
organised_world_data.dtypes

Country                      object
Capital/Major City           object
Density(P/Km2)               object
Population                   object
Urban_population             object
Land Area(Km2)               object
Agricultural Land( %)        object
Forested Area (%)            object
Co2-Emissions                object
GDP                          object
Life expectancy             float64
Birth Rate                  float64
Maternal mortality ratio    float64
Infant mortality            float64
Latitude                    float64
Longitude                   float64
dtype: object

In [10]:
organised_world_data.to_csv("organised_world_data.csv", index = False, header = True)

See file in repo.